@import "mixin";
@import "variable";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    height: 100vh;
    margin: 0 auto;
    @include flex(column, flex-start, center, wrap);
    
}

.keyboard__container {
    @include flex(column, flex-start, flex-start, wrap);
         width: 845px;
         height: 305px;
         background-color: aqua;
         padding: 5px 5px 0 5px;
      
         
}
.keyboard__raw {
    @include flex(row, flex-start, flex-start, wrap);
    gap: 5px;
    height: 60px;
   
}
textarea {
    width: 400px;
    height: 300px;
}
