@mixin flex($flex-direction, $justify-content, $align-items, $flex-wrap) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}
